.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.contents {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.vidContainer {
  border-radius: 1.2rem;
  overflow: hidden;
  background-color: #4958f82d;
}
