.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.modalTitleBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.modalInfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.2rem 0;
}

.infoValue {
  font-size: 16px;
  font-weight: bold;
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
}
