.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 1rem 2rem;
}

.header a {
  text-decoration: none;
}

.header-title {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  color: #4958f8;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-name {
  font-weight: 500;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.logout {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: red;
  cursor: pointer;
}
